---
import Layout from '../components/Layout.astro'
import Header from '../components/Header.astro'
import RuleCard from '../components/RuleCard.astro'
import { myRulesByPlugin } from '../plugins'
---

<Layout title='All rules'>
  <Header current='../allRules/index.html' />
  <main class='p-3'>
    {
      myRulesByPlugin
        .sort((a, b) => a.packageName.localeCompare(b.packageName))
        .map(({ packageName, docsLinkBuilder, rules }) => {
          const names = Object.keys(rules)
          return (
            <section aria-label={`${packageName} section`}>
              <h2>{packageName}</h2>
              {names.length > 0 ? (
                <div>
                  <ol>
                    {names.map(ruleName => {
                      return (
                        <li>
                          <RuleCard
                            href={docsLinkBuilder(ruleName)}
                            level={rules[ruleName]![0]}
                            name={ruleName}
                          />
                        </li>
                      )
                    })}
                  </ol>
                </div>
              ) : null}
            </section>
          )
        })
    }
  </main>
</Layout>
